extends ../includes/_layout

block head
	+Header({title: 'Volksromantik by Polarity - Wenn die Sonne im Kiez versinkt', base:""})

	// facebook
	<meta property="og:title" content="Polarity Volksromantik LP">
	<meta property="og:site_name" content="Polarity Music">
	<meta property="og:url" content="http://polarity-dnb.de/volksromantik.html">
	<meta property="og:description" content="German music producer 'Polarity' releases 'Volksromantik'. Music about poverty, folk, and the working class in 170bpm. Enjoy some dubby flavored new romantic daily ordinariness, softly written with electronic instruments.">
	<meta property="og:type" content="music.album">
	<meta property="og:image" content="http://polarity-dnb.de/medien-volksromantik/Volksromantik-Cover-Facebook4.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	// twitter
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="polarity">
	<meta name="twitter:title" content="Polarity Volksromantik LP">
	<meta name="twitter:description" content="German music producer "Polarity" releases "Volksromantik". Music about poverty, folk, and the working class in 170bpm. Enjoy some dubby flavored new romantic daily ordinariness, softly written with electronic instruments.">
	<meta name="twitter:image:src" content="http://polarity-dnb.de/medien-volksromantik/Volksromantik-Cover-Facebook4.jpg">

	style.
		body {
			background-image: url("medien-volksromantik/Volksromantik-Hintergrund.jpg");
			background-size: cover;
			background-attachment: fixed;
		}
		p img {
			max-width: 100%;
		}
		audio {
			width: 100%;
		}
		a:link{
			color: #742008;
		}
		a:visited {
			color: #742008;
		}
		a:hover {
			color: #F8482C;
		}

block body
	body
		div.volksromantik
		div.content-block
			p
				img(src="medien-volksromantik/Volksromantik-Cover-Klein.jpg", title="Cover für Polaritys Volksromantik")

			h1 Volksromantik
			p.intro Aus der Mittelschicht der Bedeutungslosigkeit kommend, fordert Berlin Musikpapst Polarity 
				| eine Obergrenze für Trance. Seiner Ansicht nach haben aus dem Computer 
				| gehämmerte A-Moll Lead-Sounds uns genug in den kulturellen 
				| Subkultur-Vorgarten gekackt. Mit stimmungsvollen Elektronik 
				| Balladen aus den Vororten der Industrie Städte
				| überrascht er die Hörer, die mittlerweile nur noch mittelmäßig
				| plattgedrückte Tanzflächen Schranzen gewöhnt sind.
			p Mitten aus dem Leben der immer größer 
				| werdenden ahnungslosen Unterschicht, informiert er die kulturell interessierte 
				| Oberschicht über die Schwergängigkeit des Seins. Verortet melancholisches
				| zwischen dem Alltäglichen und dem großen Ganzen.
			p 5 Musikstücke Volksromantik zur freien Verfügung. Modern als komprimierte
				| mp3 oder traditionell unkomprimiert als wav. Die zip zum Herunterladen
				| enthält alles was das Herz begehrt.

			h2 Medienromantik
			p Es lassen sich auf 
				a(href="https://www.youtube.com/user/polaritydnb/") Polarity-Youtube 
				| noch Videos zum Album finden. 
				a(href="https://www.youtube.com/watch?v=-2EmSWsrX_U") Lichtenberg Wind 
				| wurde ein stimmungsvolles Video zum Unterstreichen des Inhaltes mit auf den
				| Weg gegeben. Eventuell werden weitere folgen und hier verlinkt. Schreibt mir auf 
				a(href="http://twitter.com/polarity") Twitter, 
				a(href="https://www.facebook.com/polaritydnb") Facebook 
				| oder  
				a(href="http://soundcloud.com/polarity") Soundcloud.

			h2 Volksromantik probe hören
			p Auf Soundcloud könnt ihr das Album probe hören und mp3s direkt einzeln herunterladen. 
				| Die Wav Dateien bekommt ihr allerdings nur über die zip Datei von dieser Seite.
			p
				iframe(
					width="100%" 
					height="450" 
					scrolling="no" 
					frameborder="no" 
					src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/197891807&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
				)

			h2 Volksromantik herunterladen
			p Das Album ist kostenlos und ist unter 
				a(href="http://creativecommons.org/licenses/by-sa/4.0/") CC4.0 lizensiert. 
				| Euch steht es frei mir Geld zukommen zu lassen. 

			+download("medien-volksromantik/Polarity-Volksromantik-2016.zip")

			h2 Volkromantik Texte
			p Zum mitsingen und besser verstehen.

			h3 Polarity - Linksfahrer

			p Die Sonne steht schon sehr tief, heute abend
				br 
				| Die Tanknadel rutscht langsam aber unerbittlich in den roten Bereich
				br 
				| Ich brauche eine Tankstelle
				br
				| Mebr in Auto brauch eine Tankstelle
				br
				| mein Statussymbol
				br
				| mein Rang in der Gesellschaft
				br
				| ich bin mein auto und mein auto ist ich
				br
				| und wir fahren zusammen auf der Autobahn zusammen in den Sonnenuntergang
				br
				| auf der Suche nach eeiner Tankstelle
				br
				| wir fahren meinstens links
				br
				| dort geht es am schnellsten vorwärts
				br
				| hier muss man mir platz machen
				br
				| denn ich blinke links während ich links fahre
				br
				| mir muss man platz machen
				br
				| ich habe es zu etwas gebracht
				br
				| und das möchte ich auch geniessen
				br
				| ich habe das system verstanden
				br
				| ich habe es ausgenutzt und zu meinem vorteil gewendet
				br
				| ich fahre schnell auf der autobahn
				br
				| auf der suche nach einer tankstelle
				br
				| und ja, da kommt sie schon, die ausfahrt
				br
				| die tankstelle ist schon in geruchsreichweite
				br
				| an der tankstelle, kann ich mich auch selbst verpflegen
				br
				| wasser oder eine cola, vielleicht eine zigarette
				br
				| nahrung für mein gehirn
				br
				| stärkung für meine angriffslust
				br
				| ich muss weiter, weiter auf die autobahn
				br
				| weiter so schnell wie möglich nach vorn
				br
				| das ziel ist egal, nur ich muss erster sein
				br
				| denn nur wer erster ist, gewinnt.
				br
				| im spiel des lebens

			p
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>

			p
				<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Sound" property="dct:title" rel="dct:type">Volksromantik</span> von <a xmlns:cc="http://creativecommons.org/ns#" href="http://polarity-dnb.de/volksromantik.html" property="cc:attributionName" rel="cc:attributionURL">Robert Agthe</a> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.